<?xml version="1.0" ?>
<model>
    <name>sprin17</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Ignat Georgiev</name>
        <email>ignat.m.georgiev@gmail.com</email>
    </author>
    <description>Model of the Sprint event at FSUK 2017. Note: very processor heavy</description>
</model>
