<?xml version="1.0"?>
<robot name="sensor_imu" xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:macro name="sensor_imu" params="prefix parent *origin">
		<joint name="${prefix}_base_joint" type="fixed">
			<axis xyz="1 0 0"/>
			<!--origin xyz="0 0 0.2825"/-->
			<xacro:insert_block name="origin"/>
			<parent link="${parent}"/>
			<child link="${prefix}_base_link"/>
		</joint>
		<link name="${prefix}_base_link">
			<inertial>
				<mass value="0.001"/>
				<origin rpy="0 0 0" xyz="0 0 0"/>
				<inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.0001"/>
			</inertial>
			<visual>
				<origin rpy="0 0 0" xyz="0 0 0"/>
				<geometry>
					<box size="0.001 0.001 0.001"/>
				</geometry>
			</visual>
			<collision>
				<origin rpy="0 0 0" xyz="0 0 0"/>
				<geometry>
					<box size=".001 .001 .001"/>
				</geometry>
			</collision>
		</link>
		<gazebo>
			<plugin filename="libgazebo_ros_imu.so" name="${prefix}_controller">
				<alwaysOn>true</alwaysOn>
				<bodyName>${prefix}_base_link</bodyName>
				<topicName>${prefix}</topicName>
				<serviceName>${prefix}_service</serviceName>
				<gaussianNoise>0.005</gaussianNoise>
				<updateRate>1000.0</updateRate>
			</plugin>
		</gazebo>
	</xacro:macro>
</robot>